body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.hidden { display: none; }

#startScreen {
  margin-top: 120px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.topBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.progress {
  width: 80%;
  height: 8px;
  background: #333;
  margin: 10px auto;
}

#progressBar {
  height: 8px;
  width: 0%;
  background: lime;
}

#questionBox {
  font-size: 22px;
  margin: 30px;
}

#options button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
}
.option-btn {
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
}

.option-btn:hover {
    transform: scale(1.02);
}

.option-btn.selected {
    background: #4CAF50;
    color: white;
    transform: scale(1.05);
}

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

#finalMessage {
margin-top: 20px;
font-size: 22px;
white-space: pre-line;
opacity: 0;
animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}
